body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
.mainBody{
    background-color: #99b090;
    padding: 50px;
    text-align: center;
}
.text{
    padding: 10px;
    color: #ffffff;
    background-color: #638f53;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.text:hover{
    background-color: #284f19;
}