body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
.mainBody{
    background-color: #a8c497;
	padding: 30px 40px;
	text-align: center;
}
.field{
    padding: 10px;
    width: 50%;
    outline: none;
    border: none;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #66964a;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #326116;
}