body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
div{
    background-color: #99c96b;
	padding: 40px 50px;
	text-align: center;
}
.field{
    padding: 10px;
    margin: 10px;
    width: 50%;
    outline: none;
    border: none;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #5d8f2f;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #2b4d0b;
}