body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
div{
    background-color: #a1d6c1;
	padding: 30px 40px;
	text-align: center;
}
.field{
    padding: 10px;
    width: 50%;
    border: none;
    outline: none;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #7bb39c;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #42876c;
}