body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
div{
    background-color: #ad97cf;
	padding: 30px 40px;
	text-align: center;
}
.field{
    padding: 10px;
    width: 50%;
    outline: none;
    border: none;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #7d4cc7;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #3c1675;
}