body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
.mainBody{
    background-color: #72cfc5;
	padding: 40px 50px;
	text-align: center;
}
.field{
    padding: 10px;
    margin: 10px;
    width: 50%;
    outline: none;
    border: none;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #2e8c83;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #136b62;
}