body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
div{
    background-color: #9c95db;
	padding: 40px 50px;
	text-align: center;
}
.field{
    padding: 10px;
    margin: 10px;
    width: 50%;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #4c429e;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #181347;
}