body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
.mainBody{
    background-color: #8fc4bc;
	padding: 30px 40px;
	text-align: center;
}
.field{
    padding: 10px;
    width: 50%;
    margin: 10px;
    outline: none;
    border: none;
}
.label{
    text-align: center;
    margin: 10px;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #4e9c8f;
    cursor: pointer;
    border: none;
    margin: 20px;
    border-radius: 5px;
}
.button:hover{
    background-color: #1d6b5e;
}