body{
	margin: 0;
}
*{
	box-sizing: border-box;
}
div{
    background-color: #9a8cbd;
	padding: 40px 50px;
	text-align: center;
}
.field{
    padding: 10px;
    margin: 10px;
    width: 50%;
    outline: none;
    border: none;
}
.field2{
    outline: none;
    border: none;
    height: 5%;
    width: 20%;
}
.button{
    padding: 10px;
    color: #ffffff;
    background-color: #54427d;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
.button:hover{
    background-color: #291657;
}